.Footer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 100px;
gap: 831px;

width: 1440px;
height: 40.66px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;

}